/*Vanilla CSS: no frameworks, just pure CSS.*/

/*Gets rid of the margin surrounding the entire page*/

body {
	font-family: Roboto, Helvetica, sans-serif;
	font-size: 16px;
	/*This gets rid of the tiny little bit of margin on the edge of
	the page*/
	margin: 0;
}

/*Navbar styles*/

header {
	align-items: center;
	/*Material-like shadow for you Google fanboys*/
	box-shadow: 0 0.1px 2px 0.1px grey;
	display: flex;
	height: 10vh;
	justify-content: space-between;

}

header a,
nav a {
	font-size: 1.2rem;
	margin: 4vh 2vw;
}

/*Text-styles*/

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

.text-center {
	text-align: center;
}

a:link, a:visited {
	color: inherit;
	text-decoration: none;
}

a:hover, a:active {
	color: lightgrey;
}

/*Banner styles. These are for the big images on the top of the webpage.*/

.banner-index {
	align-items: center;
	background: url('#');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	font-size: 1.5rem;
	height: 90vh;
	justify-content: center;
}

.banner-index h1 {
	margin: 5vh 20vw;
}

/*Navigation buttons within the banner*/

.banner-button {
	align-items: center;
	background: #2196F3;
	border-radius: 4px;
	box-shadow: 0 1px 8px 0.1px grey;
	color: white;
	display: flex;
	font-size: 1.2rem;
	height: 6vh;
	justify-content: center;
	/*padding: 20px 20px;*/
	text-align: center;
	width: 22vw;
}

/*Footer styles*/

footer {
	display: flex;
	justify-content: space-around;
	margin: 2vh 2vw;
}
