/*REMOVED CSS TO TEST MDL AND HOW TO MAKE IT RESPONSIVE*/


a {
   z-index:10;
   position: relative;
   color: black;
}

b {
   z-index:10;
   position: relative;
}

td {
    padding: 50px;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.navbar {
    display: flex;
    height: 10%;
    margin-bottom: 0px;
}

.blog-flex {
    align-self: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.blog-card {
    padding-top: 15px;
    padding-right: 15px;
}

.blog-card-image {
    width: 400px;
    height: 150px;
    background-size: cover;
    background-position: 50%;
    display: block;
    background-color: grey;
}

.blog-card-text {
    width: 400px;
    height: 75px;
    color: black;
    background-color: lightgrey;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 18px;
    text-align: center;
    padding-top: 15px;
}

.navigation {
    display: flex;
    justify-content: flex-end;
}

.navigation a {
    padding: 0 30px;
}

.jumbotron {
    display: flex;
    background: rgb(200, 54, 54);
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url('https://f001.backblazeb2.com/file/TranslucentLeaf-Website/3dwork/moneytree/Promo+Shot.jpg');
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    width: 100%;
    height: 600px;
}

.jumbotron-text {
    align-items: center;
    justify-content: center;
    margin-top: 10%
}

.center-text {
    text-align: center;
}

.margin {
    Used to add spacing between content and edge of browser. Applies to about everything but stuff like the navbar or the jumbotron
    margin: 0 10%;
}

/* Change the layout__content class to Flex (instead of inline-block) to allow spacer to work. */

.mdl-layout__content {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.monospace {
    font-family: 'Roboto Mono', monospace;
}