/*REMOVED CSS TO TEST MDL AND HOW TO MAKE IT RESPONSIVE*/


/*Someone please label the function of these. Thanks ~Tommy*/
a {
    z-index: 10;
    color: black;
}

b {
    z-index: 10;
    position: relative;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

/*Blog card css for the blog page*/

.blog-flex {
    align-self: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.blog-card {
    padding-top: 15px;
    padding-right: 15px;
}

.blog-card-image {
    width: 400px;
    height: 150px;
    background-size: cover;
    background-position: 50%;
    display: block;
    background-color: grey;
}

.blog-card-text {
    width: 400px;
    height: 75px;
    color: black;
    background-color: lightgrey;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    padding-top: 15px;
}

/*Font styling*/
.center-text {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

.margin {
    /*Change the layout__content class to Flex (instead of inline-block) to allow spacer to work. */
    .mdl-layout__content {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .monospace {
        font-family: 'Roboto Mono', monospace;
    }
}